.pagination
  margin: 30px 0
  text-align: center

  &__list
    display: inline-flex

  &__el
    margin: 0 3px

    &.is-active,
    &:hover
      a
        color: #fff
        background-color: #079eeb
        text-decoration: none
      i
        &:after,
        &:before
          background-color: #fff
    &:hover
      a
        color: #4896f6
        background-color: #ffffff
        text-decoration: none
        border: 1px solid #4896f6
      i
        &:after,
        &:before
          background-color: #fff

  &__link
    position: relative
    display: flex
    align-items: center
    padding: 0 12px
    margin: 0
    height: 28px
    line-height: 26px
    font-size: 13px
    background-color: #f9fafd
    color: #7d808f
    cursor: pointer
    box-sizing: border-box
    transition: all .3s ease-in-out
    border: 1px solid transparent

  i
    transition: all .3s ease-in-out