doctype html
html
  head
    meta(charset='utf-8')
    base(target="_blank")
    meta(name="description" content="Pioneering Private Digital Transactions")
    link(href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap" rel="stylesheet")
    title
      block title
  body
    include ../parts/header
    block main
    include ../parts/footer
