extends ../base
block title
  |Driversol
block main
  div.hero
    div.container
      h1.hero__title A huge collection of free drivers, user manuals and service manuals
      div.search.is-hero
        form.search__form
          .search__field
            input.input(type='text', placeholder='Search for driver')
          .search__action
            button.btn(type='submit')
              span.icon.icon-search
  main.main
    section.section.is-main
      div.container
        div.devices-wrap
          div.devices-wrap__el
            h2 Popular Manufacturers
            ul.devices.column-3
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
            a(href='#').btn.btn-blue.full-width VIEW ALL MANUFACTURERS

          div.devices-wrap__el
            h2 Types of Devices
            ul.devices
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
            a(href='#').btn.btn-blue.full-width VIEW ALL DEVICES

        div.description
          h3 Drivers, user manuals and service manuals
          p Driversol is a huge multilingual catalogue of free Windows drivers, user manuals and service manuals for computer and device adjustment and repair.Drivers are needed to ensure correct operation of video cards, printers, monitors, network cards, sound cards, motherboards and other computer accessories and devices. There are about 100 thousand drivers available for free downloading at Driversol. User manuals are needed to understand devices' operation principle and get to know all functions, as well as for devices' proper adjustment. There are more than 120 thousand free user manuals in PDF format at Driversol database. Service manuals are needed to do devices' repair. In our catalogue there are thousands of circuit diagrams and schematics, replacement hardware lists, detailed service guides and repair manuals.
          p All files available at Driversol are taken from manufacturers' <a href="#">official websites</a> and tested with antivirus software. All downloads are free.