extends ../base
block title
  |Driversol
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Windows Drivers
    section.section.is-1-inner
      div.container
        h1.section__title Windows Drivers
        include ../../parts/promo
        div.devices-wrap.full-width
          div.devices-wrap__el
            h2 Manufacturers
            ul.devices.column-3
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
        div.devices-wrap.full-width
          div.devices-wrap__el
            h2 Devices
            ul.devices.column-3
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
              li.devices__el
                a(href='#') 2Wire
