extends ../base
block title
  |Driversol
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Windows Drivers
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Search

    section.section.is-4-inner
      div.container
        h1.section__title Search results: <span class="i-regular">amd</span>
        table.table
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS EAH/HD 5450/6450/7450/7450A/7470/8450/R5 200/230
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS Radeon HD 5900/ARES/EAH5870
            td
              a(href='#') Network
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS EAH/HD 5450/6450/7450/7450A/7470/8450/R5 200/230
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS Radeon HD 5900/ARES/EAH5870
            td
              a(href='#') Network
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS EAH/HD 5450/6450/7450/7450A/7470/8450/R5 200/230
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS Radeon HD 5900/ARES/EAH5870
            td
              a(href='#') Network
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS EAH/HD 5450/6450/7450/7450A/7470/8450/R5 200/230
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS Radeon HD 5900/ARES/EAH5870
            td
              a(href='#') Network
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS EAH/HD 5450/6450/7450/7450A/7470/8450/R5 200/230
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD/ASUS Radeon HD 5900/ARES/EAH5870
            td
              a(href='#') Network
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
          tr
            td
              a(href='#') ATI AMD FirePro 2270
            td
              a(href='#') Video cards
