-
  const nav = [
    { title: 'Home', link: '#' },
    { title: 'Drivers', link: '#' },
    { title: 'Terms', link: '#' },
    { title: 'Privacy', link: '#' },
    { title: 'Contacts', link: '#' }
  ]

footer.footer
  div.container
    div.footer__wrap
      div.footer__left
        p.copyright © 2020 Driversol.com - Drivers Download Center. All rights reserved.

      div.footer__right
        ul.nav
          each el in nav
            li.nav__el
              a.nav__link(href=el.link)=el.title
        #lang-select.language
          span.language__active English
          i.icon.icon-earch
          ul.language__list
            li.language__el.selected(data-lang='en')
              a(href='#') English
            li.language__el(data-lang='de')
              a(href='#') Deutsch
            li.language__el(data-lang='de')
              a(href='#') Espanol
            li.language__el(data-lang='fr')
              a(href='#') Franch
            li.language__el(data-lang='it')
              a(href='#') Italian
