header.header
  div.container
    div.header__wrap
      a(href='#').logo
        img(src=require('./../../media/images/logo.png'))
      div.search
        form.search__form
          div.search__field
            input.input(type='text', placeholder='Search for driver')
          div.search__action
            button.btn(type='submit')
              span.icon.icon-search