div.promo
  div.promo__left
    div.promo__info
      span.promo__icon
        i.icon.icon-promo
      div.promo__text
        span.promo__title TweakBit Driver Updater
        span.promo__descr  - Updates drivers automatically. Identifies & Fixes Unknown Devices.
  div.promo__right
    a(href='#').btn.is-green.full-width Download