extends ../base
block title
  |Driversol
block main
  main.main
    div.breadcrumbs-wrap
      div.container
        ul.breadcrumbs
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Home
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Windows Drivers
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Video cards
          li.breadcrumbs__el
            a.breadcrumbs__link(href='#') Video cards AMD

    section.section.is-2-inner
      div.container
        h1.section__title AMD video cards drivers
        include ../../parts/promo
        ul.devices.column-3
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
          li.devices__el
            a(href='#') AMD 15DD Graphics
          li.devices__el
            a(href='#') AMD Embedded Radeon E9175
          li.devices__el
            a(href='#') AMD Firepro M3100 FireGL V
            li.devices__el
              a(href='#') AMD 15DD Graphics
            li.devices__el
              a(href='#') AMD Embedded Radeon E9175
            li.devices__el
              a(href='#') AMD Firepro M3100 FireGL V
            li.devices__el
              a(href='#') AMD 15DD Graphics
            li.devices__el
              a(href='#') AMD Embedded Radeon E9175
            li.devices__el
              a(href='#') AMD Firepro M3100 FireGL V
        div.pagination
          ul.pagination__list
            li.pagination__el
              a.pagination__link(href='#' title='Previous page') Previous
            li.pagination__el
              a.pagination__link(href='#' title='1') 1
            li.pagination__el.is-active
              a.pagination__link(href='#' title='2') 2
            li.pagination__el
              a.pagination__link(href='#' title='3') 3
            li.pagination__el
              a.pagination__link(href='#' title='4') 4
            li.pagination__el
              a.pagination__link(href='#' title='5') 5
            li.pagination__el
              a.pagination__link(href='#' title='6') 6
            li.pagination__el
              a.pagination__link(href='#' title='7') 7
            li.pagination__el
              a.pagination__link(href='#' title='8') 8
            li.pagination__el
              a.pagination__link(href='#' title='9') 9
            li.pagination__el
              span.pagination__dots ...
            li.pagination__el
              a.pagination__link(href='#' title='99') 99
            li.pagination__el
              a.pagination__link(href='#' title='Next page') Next
        p AMD video cards Windows drivers were collected from official websites of manufacturers and other trusted sources. Original software will help you to fix device errors with AMD video cards. Download latest drivers for AMD video cards on Windows 10, 8, 7 (32-64 bit).